<p>
  zoom-animation works!
  Component: './zoom-animation/zoom-animation.component'
</p>
<p>
  for example: <b>zoomIn</b>
</p>
<div
  [@zoomIn]="showZoomIn"
  [@zoomOutDown]="showZoomOutDown"
  [@zoomOutUp]="showZoomOutUp"
  [@zoomOutRight]="showZoomOutRight"
  [@zoomOutLeft]="showZoomOutLeft"
  [@zoomInDown]="showZoomInDown"
  [@zoomInLeft]="showZoomInLeft"
  [@zoomInRight]="showZoomInRight"
  [@zoomInUp]="showZoomInUp"
  [@zoomOut]="showZoomOut"
  (click)="changeShow()">
  <span class="text">
    <h1>{{ text }}</h1>
    <img *ngIf="image" [src]="image"/>
  </span>
</div>